@media screen and (min-width: 992px) {
    body {
        margin: auto;
        width: 70%;
    }

    nav {
        overflow: hidden;
    }

    .navigation {
        flex-direction: row;
    }

        .navigation li:first-child {
            display: none;
        }

        .navigation li {
            display: block;
            flex: 1 1 auto;
        }
        
        li {
          float: left;
        }
      
    .five-day-forecast {
        display: flex;
    }

    .five-day-header {
        background-color: #43a047;
        border:  solid;
        border-color:  #000000;
        border-width: 2px 1px 1px 1px;
    }

    .five-day-content {
        border:  solid;
        border-color:  #000000;
        border-width: 1px 1px 2px 1px;
        color: #ffffff;
    }

    .gallery-grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em;
    }

    .grid-item:hover {
        box-shadow: 0 0 50px #333333;
        transition: 0.3s;
    }

    .town-grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em;
    }

    .town-grid-item:hover {
        box-shadow: 0 0 50px #333333;
        transition: 0.3s;
    }
}